<div class="product">
  <span class="info badge rounded-pill">
    <fa-icon
      [icon]="['fas', 'edit']"
      [styles]="{ 'color': '#FB7D00ff'}"
      class="product-icon"></fa-icon>
    <span>Cajou</span>
  </span>
  <span class="bg-success border border-success rounded-circle top-icon">
    <fa-icon
      [icon]="['fas', 'check']"
      [styles]="{ 'color': 'white'}"></fa-icon>
  </span>
</div>

<div class="product">
  <span class="info badge rounded-pill">
    <fa-icon
      [icon]="['fas', 'edit']"
      [styles]="{ 'color': '#752700ff'}"
      class="product-icon"></fa-icon>
    <span>Cacao</span>
  </span>
</div>

<div class="product">
  <span class="info badge rounded-pill">
    <fa-icon
    [icon]="['fas', 'edit']"
    [styles]="{ 'color': '#35A159ff'}"
    class="product-icon"></fa-icon>
    Hévéa
  </span>
</div>

<div class="product">
  <span class="info badge rounded-pill">
    <fa-icon
      [icon]="['fas', 'edit']"
      [styles]="{ 'color': '#FBA15Fff'}"
      class="product-icon"></fa-icon>
    <span>Karité</span>
  </span>
</div>

