.items-per-page {
  width: 100px;
  display: inline-block !important;
}

section {
  span {
    margin-right: 10px;
  }
}

.pagin-action {
  font-weight: 400 !important;

  fa-icon {
    margin-left: 20px;
  }
}
