<ul class="nav">
  <li class="title-sidebar">
    <span class="label-sidebar">Compagne</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>

  <li class="title-sidebar">
    <span class="label-sidebar">Détails compagne</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>

  <li class="title-sidebar">
    <span class="label-sidebar">Spéculations</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>

  <li class="title-sidebar">
    <span class="label-sidebar">Détails de spéculations</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>

  <li routerLinkActive="active" routerLink="/warehouse" class="title-sidebar">
    <span class="label-sidebar">Entrepôts</span>
    <span *ngIf="!isLoading" class="total-count">{{ warehouseTotalCount }}</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>

  <li class="title-sidebar">
    <span class="label-sidebar">Groupements</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>

  <li class="title-sidebar">
    <span class="label-sidebar">Exportateurs</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>

  <li class="title-sidebar">
    <span class="label-sidebar">Affectations exportations</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>

  <li class="title-sidebar">
    <span class="label-sidebar">Villes</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>

  <li class="title-sidebar">
    <span class="label-sidebar">Sites</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>

  <li class="title-sidebar">
    <span class="label-sidebar">Entrepôts</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>

  <li class="title-sidebar">
    <span class="label-sidebar">Zonages</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>

  <li class="title-sidebar">
    <span class="label-sidebar">Zonages</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>

  <li class="title-sidebar">
    <span class="label-sidebar">Zonages</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>


  <li class="title-sidebar">
    <span class="label-sidebar">Zonages</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>


  <li class="title-sidebar">
    <span class="label-sidebar">Zonages</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>


  <li class="title-sidebar">
    <span class="label-sidebar">Zonages</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>


  <li class="title-sidebar">
    <span class="label-sidebar">Zonages</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>


  <li class="title-sidebar">
    <span class="label-sidebar">Zonages</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>


  <li class="title-sidebar">
    <span class="label-sidebar">Zonages</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>


  <li class="title-sidebar">
    <span class="label-sidebar">Zonages</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>


  <li class="title-sidebar">
    <span class="label-sidebar">Zonages</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>


  <li class="title-sidebar">
    <span class="label-sidebar">Zonages</span>
    <span *ngIf="!isLoading" class="total-count">-</span>
    <fa-icon *ngIf="isLoading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </li>
</ul>
