// orange
$orange50: #f9efe9;
$orange100: #efd7c9;
$orange200: #e5bda5;
$orange300: #dba281;
$orange400: #d38e66;
$orange: #cb7a4b;
$orange600: #c67244;
$orange700: #be673b;
$orange800: #b85d33;
$orange900: #ac4a23;

// blue
$blue50: #E3EEF7;
$blue100: #B9D4EB;
$blue200: #8AB8DE;
$blue300: #5B9CD0;
$blue400: #3886C6;
$blue: #1571BC;
$blue600: #1269B6;
$blue700: #0F5EAD;
$blue800: #0C54A5;
$blue900: #064297;
